nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F7DABA;
  /* padding: 10px 20px; Adjusted padding for a more compact layout */
}

.logo {
  width: 225px; /* Adjust the width as needed */
  height: 120px; /* Maintain the aspect ratio */
  object-fit: cover;
  align-items: center;
}

nav a {
  flex: 1; /* Distribute the remaining space among the links */
  text-align: center; /* Center the text in the available space */
  text-decoration: none;
  color: #964F37;
  font-weight: bold;
  font-size: 1.75em; /* Adjusted font size using em units */
  transition: color 0.3s ease, transform 0.2s ease;
  /* padding: 10px; Adjust the padding as needed */
}

nav a:hover {
  color: #6A3526;
  transform: scale(1.1);
}

.instagram {
  width: 50px; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
}
